<div class="calendar">
  <div class="row">
    <div class="col month">
      <i class="bi bi-chevron-left" (click)="navigateMonth(false)"></i>
      {{ selectedDate.format('MMMM') }} {{ selectedDate.year() }}
      <i class="bi bi-chevron-right" (click)="navigateMonth(true)"></i>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row days">
    <div class="row days-of-week">
      <ng-container *ngFor="let day of daysOfWeek">
        <div class="col day">
          {{ day[0] }}
        </div>
      </ng-container>
    </div>
    <div class="row days-of-month">
      <ng-container *ngFor="let week of days; let i=index">
        <div class="row">
          <ng-container *ngFor="let day of week">
            <div class="col day" [ngClass]="{ 'past': day.isBefore, 'today':  day.isToday, 'filled': day != '' }">{{ day.day }}</div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="row footer">
    Snowy Calendar <img src="../../assets/snowflake.png" width="15">
  </div>
</div>
